apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  labels:
    {{- include "atomic-reactor.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 9394
      targetPort: 9394
      protocol: TCP
      name: metrics
  selector:
    {{- include "atomic-reactor.selectorLabels" . | nindent 4 }}
